/* reset rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

ul, ol, li, menu {
    list-style: none;
}
/* fine reset rules */

/* debug rules */
.debug .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 2px dashed tomato;
}

.row,
.col {
    padding: 20px;
    border: 2px dashed cornflowerblue;
}

/* fine debug rules */

/*******************************
general rules
*******************************/
.row {
    display: flex;
}

/*******************************
fine general rules
*******************************/

/*******************************
header rules
*******************************/
.header .row {
    justify-content: space-between;
}


/*******************************
fine header rules
*******************************/


/*******************************
main rules
*******************************/
.main .row {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 0;
}

.main .row > .col {
    flex-basis: calc(100% / 3);
    min-height: 300px;
}


/*******************************
fine main rules
*******************************/


/*******************************
footer rules
*******************************/
.footer .row {
    justify-content: space-between;
}


/*******************************
fine footer rules
*******************************/