/* reset rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
    display: block;
}

ul, ol, li, menu {
    list-style: none;
}
/* fine reset rules */

/* debug rules */
.debug .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 2px dashed tomato;
}

.row,
.col {
    padding: 20px;
    border: 2px dashed cornflowerblue;
}

/* fine debug rules */

/*******************************
general rules
*******************************/
.row {
    display: flex;
}

/*******************************
fine general rules
*******************************/

/*******************************
header rules
*******************************/
.header .row {
    justify-content: space-between;
}


/*******************************
fine header rules
*******************************/


/*******************************
main rules
*******************************/
.main .row {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 0;
}

.main .row > .col {
    flex-basis: calc(100% / 3);
    min-height: 300px;
}

/* card rules */
.card-image {
    position: relative;
}

.card-image .tag {
    position: absolute;
}

.card-image .tag-sale,
.card-image .tag-category {
    bottom: 30px;
    max-width: fit-content;
    border: none;
    color: white;
    padding: 2px 5px;
}

.card-image .tag-sale {
    background-color: red;
}

.card-image .tag-category {
    left: 50px;
    background-color: green;
}

.card-image .tag-like {
    top: 10px;
    right: 0;
    padding: 5px 10px;
    background-color: white;
}

/* fine card rules */


/*******************************
fine main rules
*******************************/


/*******************************
footer rules
*******************************/
.footer .row {
    justify-content: space-between;
}


/*******************************
fine footer rules
*******************************/